<footer class="px-4 mx-auto max-w-xl lg:px-6">
    <div class="mx-auto text-center">
        <h3 class="text-1xl lg:text-2xl xl:text-3xl tracking-tight text-white">
            Disculpen las molestias ... o NO!!!
        </h3>
    </div>
    <footer></footer>
</footer>
